---
import Layout from '../layouts/Layout.astro';
import Card from '../components/cardCv.astro';

---

<Layout title='Normatividad | CATIC'>

    
    <h1 class="text-4xl font-normal text-center mt-2 md:mt-10 mb-7">Normatividad</h1>

        <div class="flex flex-wrap justify-center items-center gap-3 mb-4">
            <!--Card 25 --> 
            <div class=" shadow-lg w-11/12 sm:w-[550px] ">
            <Card title="" clase="bg-purple-800 text-center pt-3 pb-3 rounded-t-md" clase1="text-sm text-azure-800 h-48 rounded-b-md border-ath-gray-200 border-2 border-t">
                 <div class="mt-6 ml-12">
                    <ul class="list-disc">
                        <li><a href="https://www.red-tic.unam.mx/recursos/2024/2024_Principios_SWLibre.pdf" target="_blank" class="text-lg">Principios del software libre y código
                                abierto en la UNAM</a></li>
    
                    </ul>
                </div>  
            </Card>
        </div>
    


</Layout>
