---
import Layout from '../layouts/Layout.astro';
import Card from '../components/cardCv.astro';

---

<Layout title='Convocatorias | CATIC'>


    <main>
        <h1 class="text-4xl font-normal text-center mt-2 md:mt-10 mb-7">Sistemas para responsables TIC</h1>

        <div class="flex flex-wrap justify-center items-center gap-3 mb-4">
            <!--Card 25 --> 
            <div class=" shadow-lg w-11/12 sm:w-[550px] ">
                <Card title="" clase="bg-amber-500 text-center pt-3 pb-3 rounded-t-md" clase1="text-sm text-azure-800 h-48 rounded-b-md border-ath-gray-200 border-2 border-t-1">
                    <div class="mt-6 ml-12">
                        <ul class="list-disc text-lg">
                            <li><a href="https://informaciontic.unam.mx/login" target="_blank">Registro de sistemas informáticos vigentes de la UNAM</a></li>
                            <li><a href="https://registrotic.catic.unam.mx/" target="_blank">Registro de Software de la UNAM</a></li>
    
                        </ul>
                    </div>  
                </Card>
            </div>
        
        

    </main>
  

</Layout>
