---
import { string } from 'astro:schema'

 interface Props {

    titulo: string
    matiz: string
    imagen: string
    enlace?: string
    icon?: string
 }

 const {titulo, matiz, imagen, enlace, icon} = Astro.props;
---
 <a class="relative w-full shrink-0 md:h-full h-50" href={enlace} target="_blank">
    <img src={imagen} class="w-full h-full" alt="siguiente referencia">
    <div class={`absolute inset-0  flex flex-col items-center justify-center text-white px-4 sm:px-10 md:px-20 lg:px-32 text-center ${matiz}`}>
        <div class=" w-auto md:w-3/5 ">
            <p class="text-sm text-center sm:text-base md:text-2xl lg:text-4xl font-semibold ">{titulo}</p>
        </div>
    </div>
</a>



