---
 interface Props {

    titulo: string
    matiz: string
    imagen: string
    enlace?: string
 }

 const {titulo, matiz, imagen, enlace} = Astro.props;
---
    <a class="relative w-full shrink-0 md:h-full" href={enlace} target="_blank">
        <img src={imagen} class="w-full h-full  " alt=" ">
        <div class={`absolute inset-0 flex flex-col items-center justify-center text-white px-20 md:px-32 ${matiz}`}>
            <h2 class=" text-[1rem] md:text-xl lg:text-3xl font-bold text-center break-keep">{titulo}</h2>
        </div>
    </a>


